body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 320vh;
    font-family: "PT Serif", serif;
    font-weight: 510;
    font-size: 20px;

}

.lei {
    background-image: url(https://assets.specialized.com/i/specialized/RovalRapid_3q_Desktop_HP_Image_1?$scom-herobanner-landscape-md$&fmt=auto);
    width: 100%;
    height: 46rem;
    border: none;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 16px;
}

.pes {
    display: flex;
    box-shadow: 0 0 2px 0 black;
    height: 65px;
    padding: 0 96px 16px;
    gap: 20px;
}

.oi {
    height: 25px;
    margin-top: 1.4375rem;
    border: none;
    background-color: rgba(43, 39, 39, 0.473);
    border-radius: .3125rem;
    width: 15.625rem;
}

input {
    background-color: rgba(255, 255, 255, 0.678);
}

.cab {
    padding: 16px 96px;
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: #ffffff;
    margin-top: 10px;
}

.cab a {
    color: #000000;
    text-decoration: none;
    height: 40px;
    margin-right: 16px;
}

.bik {
    border: solid;
    display: flex;
}

.bik1,
.bik2,
.bik3 {
    background-size: cover;
    width: 22.625rem;
    height: 22.625rem;
    border: none;
    transition: 0.5s;
    flex-direction: column;
}

.bik1 {
    background-image: url(https://assets.specialized.com/i/specialized/93123-30_EPIC-WC-EXPERT-CARB-WHT-PRL_HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.bik2 {
    background-image: url(https://assets.specialized.com/i/specialized/91323-70_EPIC-HT-FRYRED-WHT_HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.bik3 {
    background-image: url(https://assets.specialized.com/i/specialized/97223-00_AETHOS-SW-DI2-BRCH-ABLN-DUNEWHT_HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.ob {
    display: flex;
    justify-content: center;
    gap: 2.625rem;
}

h1,
p {
    text-align: center;
    padding: 0 4rem;
}

.l1 {
    border: .0313rem solid rgb(143, 135, 135);
    width: 22.625rem;
    height: 29.625rem;
    border-radius: .3125rem;
    box-shadow: .0125rem .0125rem .0125rem .0125rem;
    border: none;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

i {
    margin-top: 1.65rem;
}

.acessorio {
    display: flex;
    justify-content: center;
    gap: 2.625rem;
    margin-top: 2rem;
}

.acessorio1,
.acessorio2,
.acessorio3 {
    background-size: cover;
    width: 22.625rem;
    height: 22.625rem;
    border: none;
    transition: 0.5s;
    flex-direction: column;
}

.acessorio1 {
    background-image: url(https://assets.specialized.com/i/specialized/60819-043_HLMT_CHAMONIX-HLMT-ANGI-MIPS-CPSC-BLK-M-L_HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.acessorio2 {
    background-image: url(https://assets.specialized.com/i/specialized/61020-514_SHOE_TORCH-10-RD-SHOE-BLK-42_HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.acessorio3 {
    background-image: url(https://assets.specialized.com/i/specialized/64220-390_APP_MOUNTAIN-LINER-BIB-SHORT-WSWAT-MEN-M_PLP-HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.compo {
    display: flex;
    justify-content: center;
    gap: 2.625rem;
    margin-top: 2rem;
}

.compo1,
.compo2,
.compo3 {
    background-size: cover;
    width: 22.625rem;
    height: 22.625rem;
    border: none;
    transition: 0.5s;
    flex-direction: column;
}

.compo1 {
    background-image: url(https://assets.specialized.com/i/specialized/21023-063_CMPNT_ROVAL-RAPIDE-RD-COCKPIT-CARB-BLK-318X420-100MM_HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.compo2 {
    background-image: url(https://assets.specialized.com/i/specialized/00122-502_TIRE_GROUND-CONTROL-CONTROL-2BR-T5-TIRE-TAN-SDWL-29X235_HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.compo3 {
    background-image: url(https://assets.specialized.com/i/specialized/30024-590_WHL_RAPIDE-CLX-II-TEAM-700C_HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.roupa {
    display: flex;
    justify-content: center;
    gap: 2.625rem;
    margin-top: 2rem;
}

.roupa1,
.roupa2,
.roupa3 {
    background-size: cover;
    width: 22.625rem;
    height: 22.625rem;
    border: none;
    transition: 0.5s;
    flex-direction: column;
}

.roupa1 {
    background-image: url(https://assets.specialized.com/i/specialized/64022-480_APP_RBX-MIRAGE-JERSEY-SS-MEN-BLK-M_PLP-HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.roupa2 {
    background-image: url(https://assets.specialized.com/i/specialized/64122-230_APP_RBX-EXPERT-THERMAL-JERSEY-LS-MEN-BLK-M_PLP-HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.roupa3 {
    background-image: url(https://assets.specialized.com/i/specialized/64119-500_APP_RBX-CLASSIC-JERSEY-SS-WMN-BLK-M_HERO_PLP-HERO-SQUARE?$scom-plp-product-image-square$&fmt=auto);
}

.marca1 {
    display: flex;
    justify-content: center;
    gap: 2.625rem;
    margin-top: 2rem;
    background-image: url(https://i.shgcdn.com/fbc878e3-614f-4396-84f5-b3edbfdabdf5/-/format/auto/-/preview/3000x3000/-/quality/lighter/);
    background-size: cover;
    height: 47rem;
    margin: 0;
    padding: 0;
    bottom: 0;
    top: 0;

}

.xx {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
    margin-top: .625rem;
}

.l1 {
    flex-direction: column;
    transition: 0.3s;
}

.l1:hover {
    transform: scale(1.1)
}

h4 {
    display: flex;
    justify-content: center;
    padding: 0;
    font-weight: 200;
}

.cont {
    background-color: #252525;
    top: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    box-sizing: 0;
    color: #fff;
    font-size: .9375rem;
   
}
*{margin:0;
 padding:0;}